@charset "UTF-8";
/* CSS Document */

  body {
    text-align: center;
    background:url("weekly/docs/imagebirthday.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	  
  }

#container {
	margin-top:50vh;

  }

  p {
    text-transform:uppercase;
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
	 	font-size: 100px;

}

 


/* tell browser don't display it when screen is wider than 768px */
  .mobile-only {
    display: none;
  }

/* tell browser to do the followings when screen is at and narrower than 768px */
  @media only screen and (max-width: 768px) {
	  
    body {
		background-image: none;
    }
	  
	#container {
 
    }
	   
    p {
  	font-family: "Abril Fatface", serif;
  	font-weight: 400;
	font-style: normal;
	color: darkgoldenrod;
	font-size: 50px;
    }
	  
	#cursive {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
	font-size: 50px;
  	}
	  
    .mobile-only {
		display: block;
   
    }
	  /* Now the style and content for desktop will not be displied */
    .desktop-only {
		display: none;
  
    }
 /* don't forget to close the styles for mobile/



