@charset "utf-8";
header {
	width: 1440px;
	height: 163px;
	background-color: #A3A3A3;
	margin-bottom: 15px;
	flex-wrap: wrap;
font-family: "Ms Madi", cursive;
font-weight: 300;
font-style: normal;
font-size: 128px;
	  color: #FFFFFF;
}

nav{
	width: 1440px;
	height: 50px;
	background-color: #A3A3A3;
	margin-bottom: 15px;
	flex-wrap: wrap;
	font-family: "Inria Serif", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
		  color: #FFFFFF;
	  word-spacing: 10px;
	}

header2 {
font-family: "Ms Madi", cursive;
font-weight: 400;
font-style: normal;
font-size: 128px;
	
}

article{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 32px;
margin-bottom: 40px;
	
}

article2{
	font-family: "Inria Serif", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
}


footer{
	width: 1440px;
	height: 425px;
	display: flex;
	background-color: #A3A3A3;
	flex-wrap: wrap;
	margin-top: 100px;
	
}

.box1{
	width:471px;
	height: 425px;
	float: left;
	margin-left: 20px;
	background-color: #A3A3A3;
		  color: #FFFFFF;
}

.box2{
	width:892px;
	height: 425px;
	float: right;
	margin-left: 17px;
	background-color: #A3A3A3;
  	flex-wrap: nowrap;
		  color: #FFFFFF;
}

.box3 {	
  width:440px;
  margin: 10px;
  text-align: center;
  line-height: 72px;
  font-size: 30px;
  background-color: #FFFFFF;
	
	position: absolute;
	top: 2100px;
	right: 380px;
	
}
.box4 {
  width:440px;
  margin: 10px;
  text-align: center;
  line-height: 72px;
  font-size: 30px;
  background-color: #FFFFFF;
	
	position: absolute;
	top: 2100px;
	right: -80px;
}

footer-header{  
	font-family: "Ms Madi", cursive;
  	font-weight: 400;
  	font-style: normal;
	font-size: 85px;
}

footer-article{
	font-family: "Inria Serif", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
}
