@charset "utf-8";
header {
	width: 1440px;
	height: 163px;
	background-color: #A3A3A3;
	margin-bottom: 15px;
	flex-wrap: wrap;
font-family: "Ms Madi", cursive;
font-weight: 300;
font-style: normal;
font-size: 128px;
	  color: #FFFFFF;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: gray;
  background-color: transparent;
}

nav{
	width: 1440px;
	height: 50px;
	background-color: #A3A3A3;
	margin-bottom: 15px;
	flex-wrap: wrap;
	font-family: "Inria Serif", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
		  color: #FFFFFF;
	  word-spacing: 10px;
	}

header2 {
font-family: "Ms Madi", cursive;
font-weight: 400;
font-style: normal;
font-size: 128px;

}

article{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
margin-bottom: 20px;
	flex-wrap: wrap;
	padding-left: 40px;
}
	

img {float: right;
  width: 751px;
  height: 717px; 
		margin-left: 40px;
	margin-bottom: 40px;
}

article2{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 32px;
}
.box{
	width:440px;
	height: 60px;
	background-color: #A3A3A3;
		  color: #FFFFFF;
	margin-left: 80px;
		margin-bottom: 40px;
}
footer-article1{
	font-family: "Inria Serif", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 45px;
}



footer{
	width: 1440px;
	height: 425px;
	display: flex;
	background-color: #A3A3A3;
	margin-top: 40px;
}

.box1{
	width:460px;
	height: 425px;
	float: left;
	margin-left: 20px;
	background-color: #A3A3A3;
		  color: #FFFFFF;
}

footer-header{  
	font-family: "Ms Madi", cursive;
  	font-weight: 400;
  	font-style: normal;
	font-size: 85px;
}

footer-article{
	font-family: "Inria Serif", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 32px;

}
