@charset "utf-8";
header {
	width: 1440px;
	height: 163px;
	background-color: #A3A3A3;
	margin-bottom: 15px;
	flex-wrap: wrap;
font-family: "Ms Madi", cursive;
font-weight: 300;
font-style: normal;
font-size: 128px;
	  color: #FFFFFF;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: gray;
  background-color: transparent;
}

nav{
	width: 1440px;
	height: 50px;
	background-color: #A3A3A3;
	margin-bottom: 15px;
	flex-wrap: wrap;
	font-family: "Inria Serif", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
		  color: #FFFFFF;
	  word-spacing: 10px;
	}

header2 {
font-family: "Ms Madi", cursive;
font-weight: 400;
font-style: normal;
font-size: 128px;

}
text {font-family: "Inria Serif", serif;
font-weight: 400;
font-style: normal;
font-size: 128px;
}

price{  font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
	text-align: center;}

book{font-family: "Inria Serif", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
text-align: center;}

.container {
  display: flex;
  justify-content: space-evenly;
}
.container div { 
  margin: 10px;
  padding: 10px;
  padding-top: 50px;
  text-align: center;  
  font-size: 30px;
}
img {
  width: 289px;
  height: 376px; 
}

.line{
	width:1370px;
	height: 20px;
	float: left;
	margin: 20px;
	background-color: #A3A3A3;
		  color: #FFFFFF;
}


.box1{
	width:460px;
	height: 425px;
	float: left;
	margin-left: 20px;
	background-color: #A3A3A3;
		  color: #FFFFFF;
}

footer{
	width: 1440px;
	height: 425px;
	display: flex;
	background-color: #A3A3A3;
	margin-top: 40px;
}

footer-header{  
	font-family: "Ms Madi", cursive;
  	font-weight: 400;
  	font-style: normal;
	font-size: 85px;
}

footer-article{
	font-family: "Inria Serif", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 32px;

}
